
@if (model != null)
{
    <tr>
        <td>@string.Join(',', model.Area)</td>
        <td><img class="image @rarityClass" src="@iconUrl" /></td>
        <td>@model.Name</td>
        <td>@string.Join(',', model.Hole)</td>
        <td>@string.Join(',', model.Bait)</td>
        <td>@string.Join(',', model.Time)</td>
    </tr>
}
else
{
    <tr>
        <th>Area</th>
        <th></th>
        <th>Name</th>
        <th>Hole</th>
        <th>Bait</th>
        <th>Time</th>
    </tr>
}

@code {
    [Parameter]
    public Models.Fish? model { get; set; }

    string iconUrl = "";
    string rarityClass = "";

    protected override async Task OnInitializedAsync()
    {
        if (model != null)
        {
            iconUrl = string.Format("data:image/png;base64,{0}", model.Icon);

            if (model.Rarity != "")
            {
                rarityClass = "rarity-" + model.Rarity.ToLower();
            }
        }
    }
}
